# Kernel build artifacts
*.o
*.o.*
*.ko
*.mod
*.mod.c
*.mod.o
*.cmd
.modules.order.cmd
modules.order
Module.symvers
.module-common.o
.tmp_versions/
.cache.mk
.a*
.o*

# Editor/system clutter
*~
*.swp
.DS_Store
